<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
    />
    <mat-error
      ><span
        *ngIf="
          stockPickerForm.get('symbol').invalid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select formControlName="period">
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>(Optional) Custom date filter start</mat-label>
    <input
      formControlName="startDate"
      matInput
      (ngModelChange)="onStartDateChange()"
      [matDatepicker]="startDate"
      [max]="stockPickerForm.get('endDate').value || today"
    />
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
    <mat-error>
      <span
        *ngIf="
          stockPickerForm.get('startDate').invalid &&
          stockPickerForm.get('startDate').value > today
        "
      >
        Start of date filter must be today or earlier
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>(Optional) Custom date filter end</mat-label>
    <input
      formControlName="endDate"
      matInput
      [matDatepicker]="endDate"
      [min]="stockPickerForm.get('startDate').value"
      [max]="today"
    />
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
    <mat-error>
      <span
        *ngIf="
          stockPickerForm.get('endDate').invalid &&
          stockPickerForm.get('endDate').value > today
        "
      >
        End of date filter must be today or earlier and must also be after the
        start date
      </span>
    </mat-error>
  </mat-form-field>

  <mat-error>
    <span
      *ngIf="
        stockPickerForm.get('startDate').invalid &&
        stockPickerForm.get('endDate').value &&
        stockPickerForm.get('startDate').value >
          stockPickerForm.get('endDate').value
      "
    >
      Start of date filter must be today or earlier and must also be before the
      end date
    </span>
  </mat-error>
  <button
    [disabled]="stockPickerForm.invalid"
    (click)="fetchQuote()"
    mat-raised-button
  >
    Go
  </button>
</form>

<coding-challenge-chart
  [title]=""
  [data]="quotes$ | async"
  [columnNames]="['period', 'close']"
  [type]="'LineChart'"
  [options]="{ title: 'Stock price', width: '600', height: '400' }"
></coding-challenge-chart>
